h1 {
    margin-top: 160px;
    padding-left: 60px;
    font-size: 60px;
    text-align: left;
}

p {
    padding-left: 60px;
    text-align: left;
}

#container {
    border: 1px solid blue;
    height: 200px;
    display: flex;
}

#filterCont {
    border: 1px solid green;
    height: 200px;
    width: 30%;
}

#productCont {
    border: 1px solid red;
    height: 200px;
    width: 70%;
}