h1 {
    margin-top: 160px;
    padding-left: 60px;
    font-size: 60px;
    text-align: left;
}

p {
    padding-left: 60px;
    text-align: left;
}

#container {
    display: flex;
    margin: 50px 0 200px 0;
}

#filterCont {
    width: 23%;
    padding-left: 50px;
}

#productCont {
    width: 70%;
    padding-left: 20px;
}

.productList {
    display: grid;
    grid-template-columns: repeat(4, 23%);
    grid-gap: 2%;
    grid-row-gap: 2%;
}

.productCard {
    cursor: pointer;
    height: 300px;
}

.productCard > img {
    width: 230px;
    border-radius: 25px;
}

.productCard > img:hover {
    border: 1px solid rgb(34, 238, 170);
}

.productTitle {
    text-align: left;
    font-size: 18px;
    font-weight: 600;
    padding-left: 10px;
    color: black;
}

.productDesc {
    overflow: hidden;
    height: 20px;
    font-size: 16px;
    text-align: left;
    padding-left: 10px;
    color: black;
}

.productDiscount {
    position: absolute;
    margin: 160px 0 0 20px;
    font-size: 30px;
    font-weight: 800;
    color: white;
}

.categoryBox {
    display: flex;
    flex-direction: column;
    text-align: left;
    border-bottom: 1px solid rgb(187, 183, 183);
}

.categoryBox > button {
    background-color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: gray;
    text-align: left;
    padding-bottom: 15px;
}

.filterBox {
    text-align: left;
    border-bottom: 1px solid rgb(173, 169, 169);
    padding-bottom: 20px;
}

.filterBox > input {
    cursor: pointer;
}

.filterBox > label {
    font-size: 16px;
    color: gray;
}

.productDetail {
    margin: auto;
    margin-top: 100px;
    width: 500px;
    height: 600px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.productDetail > img {
    width: 500px;
    height: 400px;
    object-fit: cover;
}

.productDetailTitle {
    text-align: left;
    font-size: 32px;
    font-weight: 600;
    padding-left: 10px;
    color: black;
}

.productDetailDesc {
    font-size: 16px;
    text-align: left;
    padding-left: 10px;
    color: black;
}

.shopDealBtn {
    width: 95%;
    margin-top: 15px;
    padding: 15px 30px;
    font-size: 16px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.shopDealBtn:hover {
    opacity: 80%;
}

.searchBox {
    width: 100%;
    border: none;
    padding: 15px 15px;
    border-bottom: 1px solid gray;
}

.searchBox:focus {
    outline: none;
}

